page-register {
    #register-title {
        margin-right: 48px;
    }
    // fixes android keyboard scroll
    .no-scroll .scroll-content {
        background-color: #f8f8f8;
        padding-bottom: 0px !important;
    }
    #form-wrapper-rp {
        max-width: 400px;
        width: 90vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 10vh;
        -webkit-animation: fadein 2s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s;
        /* Firefox < 16 */
        -ms-animation: fadein 2s;
        /* Internet Explorer */
        -o-animation: fadein 2s;
        /* Opera < 12.1 */
        animation: fadein 2s;
    }
    #info-row {
        flex-flow: row wrap;
        width: 100%;
    }
    #job-col {
        flex: 0;
    }
    #xp {
        flex: 2 2 auto;
    }
    .years-col {
        flex: 1 1 auto;
    }
    .input-wrapper {
        // margin: .8em;
        border: 1px solid #ced4d4;
        border-radius: 6px;
        padding-left: 10px;
    }
    #register-button {}
    .button-inner {
        font-size: 1.5em;
        font-weight: .2em;
    }
    .input-wrapper {
        margin: .8em;
        border: 1px solid #ced4d4;
        border-radius: 6px;
        padding-left: 10px;
    }
    .item-ios {
        position: relative;
        padding-left: 16px;
        border-radius: 0;
        font-size: 1.7rem;
        background-color: #f8f8f8;
        transition: background-color 200ms linear;
        transition-property: background-color;
        transition-duration: 200ms;
        transition-timing-function: linear;
        transition-delay: initial;
    }
    .item-ios.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
    }
    img {
        max-width: 30%;
        display: block;
        margin: auto;
    }
    .list-md .item-input:last-child {
        border-bottom: none;
    }
}
