<ion-header>
  <ion-navbar >
    <ion-title align="center"> Test Review </ion-title>
    
    <ion-buttons end>
      <button ion-button (click)="closeTest()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>
  <h5 margin-top="2px" align="center"> Case {{ currentQuestion + 1 }} of {{ questions.length }}  </h5>
</ion-header>

<!--<ion-content >
  <ion-scroll direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false" style="height: 100%;"  *ngFor="let photo of photos; let i = index"  scrollX="true" scrollY="true" [zoom]="true" maxZoom="20">
    <img [src]="photo.url"/>>
  </ion-scroll>
</ion-content>-->



<ion-content>
    <p id="tap" align="center"  margin-left="20px" margin-right="20px"> Tap on Image below to open full screen.</p>

    <img (click)="imageZoom()" [src]="viewPic"/>
    <!--<img *ngIf='imageIndex == 1' (click)="imageZoom()" [src]="viewPic"/>-->
    <!--<img *ngIf='imageIndex == 2' (click)="imageZoom()" [src]="viewPic"/>-->
    <!--<h3> {{ }} </h3>-->




  <ion-grid>
    <ion-row>

      <ion-col *ngFor='let photo of photos; let i = index'>
         <img (click)="selectImage(photo.url, i)" [src]="photo.url"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  <p align="center" class="reviewAnswers"  margin-left="20px" margin-right="20px"> Case Was {{ answerToShow }} </p>
  <p align="center" clase="reviewAnswers" margin-left="20px" margin-right="20px"> Your Answer {{ userAnswerToShow }} </p>
  

</ion-content> 
<ion-footer id="test-footer"> 
<p id="correct" *ngIf=" answerToShow == userAnswerToShow " align="center"  margin-left="20px" margin-right="20px"> Correct!</p>
  <p id="incorrect" *ngIf=" answerToShow !== userAnswerToShow " align="center"  margin-left="20px" margin-right="20px"> Incorrect</p>
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-buttons align="center">
            <button  *ngIf="currentQuestion !== 0" ion-button align="center" class="test-button" align="center" ion-button color="primary" (click)="nextPage(-1)">Previous</button>
          </ion-buttons>
        </ion-col>

        <ion-col>
          <ion-buttons   align="center" >
            <button *ngIf=" currentQuestion !== questions.length-1" ion-button align="center" class='testbutton' ion-button color="primary" (click)="nextPage(1)">Next</button>
          </ion-buttons>
        </ion-col>

       </ion-row>
      </ion-grid>
   </ion-toolbar>
</ion-footer>
