<ion-header>
  <ion-navbar>
    <ion-title align="center"> Question {{ currentQuestion + 1 }} of {{ questions.length }} </ion-title>

    <ion-buttons end>
      <button ion-button (click)="closeTest()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>




<ion-content class="no-scroll">
  <p id="tap" align="center" margin-left="20px" margin-right="20px"> Tap on Image below to open full screen.</p>
  <img id="main-img-tr" (click)="imageZoom()" [src]="viewPic" />
  <ion-grid>
    <ion-row id="thumbnails-row-tr">
      <ion-col *ngFor='let photo of photos; let i = index' [ngClass]="{'selected-img-tr': photo.url === viewPic }">
        <img class="thumbnails-tr" (click)="selectImage(photo.url, i)" [src]="photo.url" [ngClass]="{'thumbnail-highlight': photo.url === viewPic }" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p align="center" class="reviewAnswers" margin-left="20px" margin-right="20px"> Case Was {{ answerToShow }} </p>
      </ion-col>
      <ion-col>
        <p align="center" clase="reviewAnswers" margin-left="20px" margin-right="20px"> Your Answer {{ userAnswerToShow }} </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer id="testreview-footer">
  <p id="correct" *ngIf=" answerToShow == userAnswerToShow " align="center" margin-left="20px" margin-right="20px"> Correct!</p>
  <p id="incorrect" *ngIf=" answerToShow !== userAnswerToShow " align="center" margin-left="20px" margin-right="20px"> Incorrect</p>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-buttons *ngIf="currentQuestion !== 0" align="center">
            <ion-icon name="arrow-back"></ion-icon>
            <button ion-button align="center" class="test-button" align="center" outline ion-button color="primary" (click)="nextPage(-1)">Previous</button>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-buttons *ngIf=" currentQuestion !== questions.length-1" align="center">
            <button ion-button align="center" class='testbutton' outline ion-button color="primary" (click)="nextPage(1)">Next</button>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
