page-test-review {
    .selected-img-tr {
        flex: 1.3;
    }
    ion-grid {
        justify-content: center;
        align-items: center;
    }
    img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #flex-row {
        max-width: 600px;
        flex-flow: row wrap;
        //flex-direction: wrap;
        justify-content: space-between;
    }
    #main-img-tr {
        border-radius: 10px;
        flex-basis: 90%;
        display: block;
        width: auto;
        max-height: 50vh;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 3px 3px 5px 5px rgba(169, 169, 169, .4);
    }
    .thumbnails-tr {
        flex: 1;
        flex-basis: 70px;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 3px 3px 5px 5px rgba(169, 169, 169, .4);
        width: auto;
        max-height: 8vh;
    }
    #bottom-row {
        flex-direction: column;
    }
    ion-app.ios [margin-right],
    ion-app.ios [margin-right] .scroll-content {
        margin-top: 2px;
        margin-right: 16px;
    }
    #thumbnails-row-tr {
        margin-top: 10px;
    }
    #testreview-footer {
        border-top: 5px solid grey;
        max-height: 100px;
    }
    #correct {
        color: #61c942;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    #incorrect {
        color: #af0c0c;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .thumbnail-highlight {
        box-shadow: 3px 3px 5px 4px rgba(169, 169, 169, .8);
        max-height: 13vh;
    }
}
