.ios, .md{    
    page-tutorial-test {
    
        .container{
            max-width: 100%;
            max-height: auto;
            background-color: #000;
            opacity: 0.5;
        }
        
        .no-scroll .scroll-content{
         overflow: hidden;
         margin-top: 3vh !important;
    }
    
    .view-wrapper {
      max-height: 100vh;
      max-width: 100vw;
      margin-bottom: 1vh;
      
    }
    
    h5 {
      color: #4c4c4c;
    }
    
    .button {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    
     #bar {
      max-height: 30px;
      margin-bottom: 2vh;
    }
    img.thumbnails {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
  #test-row{
    margin-top: 2vh;
  }
  
  .photos-col{
    margin-left: auto;
    margin-right: auto;
    flex: 1;
  }
  
  #main-img { 
    width: 100%;
    display: block;
    margin: auto;
  }
  
  
  
    @media screen and  (min-width : 320px) and (max-width : 500px) {
      .view-wrapper {
        justify-content: center;
        //margin-top: 2vh;
        max-width: 100vw;
        max-height: 100vh;
      }
      
      .photos-col{
          max-width: 25vw;
      }
       
       #main-img {
       // max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      
      img.thumbnail {
        max-width: 90px;
        margin-left: auto;
        margin-right: auto;
      }
      
      .photos-col {
        flex: 1;
        
      }
      
      .inner-pic-row {
        flex-direction: column;
        max-width: 80vw;
      }
      
      #test-row {
        flex-direction: column;
      }
        
      #thumbnails-row {
        flex-direction: row;
      }
      
      #answer-row {
        margin-top: 1vh;
        flex-direction: row;
        border: 1px solid #4c4c4c;
        border-radius: 5px;
      }
      
      .button-row{
        flex-direction: column;
        
      }
    
      
    }
  
  
  
    @media screen and  (min-width : 700px) {
      
      
      #main-col {
        flex: 7;
        flex-grow: 2;
        
      }
      
      #right-col {
        flex: 1;
      }
      
      .view-wrapper {
        justify-content: start;
        margin-top: 5vh;
        max-width: 900px;
      }
      
      #main-img {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      
      #test-row {
        flex-direction: row;
      }
        
      #thumbnails-row {
        flex-direction: column;
      }
      
      #answer-row {
        margin-top: 5vh;
        flex-direction: row;
        border: 1px solid #4c4c4c;
        border-radius: 5px;
      }
      
      .thumbnail {
        max-width: 10vw;
      }
      
      .inner-pic-row { 
        flex-direction: row;
      }
      
      #button-row {
        flex-direction: column;
      }
       
    }  
    
    
    
  }
   
  
  
}