<ion-header>
  <ion-navbar hideBackButton>
    <progress-bar [progress]="loadProgress"></progress-bar>
    <ion-buttons end>
      <button ion-button (click)="closeTest()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="fullscreen-flex-tv">
    <div id="content-wrapper-tv">
      <!--Portrait View-->
      <ion-grid id="view-wrapper-tv">
        <ion-row id="main-row-tv">
          <ion-col id="main-col-tv" col-4>
            <img id="main-img-tv" class="bounceInLeft" (click)="mainZoom()" [src]="viewPic" />
          </ion-col>
          <ion-col id="second-col-tv">
            <ion-row id="thumbnail-row-tv">
              <ion-col class="photos-col-tv" *ngFor='let photo of photos; let i = index' [ngClass]="{'selected-img-tv': photo.url === viewPic }">
                <button class="grade-button" ion-button block small color="light" *ngIf="photos.length == 2 && i == 0" (click)="presentActionSheet(i)">{{heart[i]}}</button>
                <button class="grade-button" ion-button block small color="light" *ngIf="photos.length == 2 && i == 1" (click)="presentActionSheet(i)">{{heart[i]}}</button>
                <button class="grade-button" ion-button block small color="light" *ngIf="photos.length > 2 && i == 0" (click)="presentActionSheet(i)">{{heart[i]}}</button>
                <button class="grade-button" ion-button block small color="light" *ngIf="photos.length > 2 && i == 1" (click)="presentActionSheet(i)">{{heart[i]}}</button>
                <button class="grade-button" ion-button block small color="light" *ngIf="photos.length > 2 && i == 2" (click)="presentActionSheet(i)">{{heart[i]}}</button>
                <img class="thumbnails-tv" (click)="selectImage(photo.url, i)" [src]="photo.url" [ngClass]="{'selected-img-thumbnail': photo.url === viewPic }" />
                <button ion-button clear color="dark" (click)="imageZoom(i)">{{zoom}}</button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar id="bottom-toolbar-tv">
    <ion-title align="center">Grade Case</ion-title>
  </ion-toolbar>
  <ion-grid id="bottom-grid-tv">
    <ion-row id="answer-row-tv">
      <ion-col *ngFor='let answer of answerChoices; let i = index' class="answer-button-col">
        <button class="answer-button-tv" ion-button small color="dark" align="center" (click)="selectAnswer(answer)">{{answer}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
