.ios,
.md {
  // test-view {
  //   .no-scroll .scroll-content {
  //     overflow: hidden;
  //   }
  #fullscreen-flex-td {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  #content-wrapper-tv {
    display: block;
    max-width: 700px;
    margin: auto;
  }
  h5 {
    color: #4c4c4c;
  }
  .button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .thumbnails-tv {
    width: auto;
    max-height: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 6px;
  }
  .photos-col {
    margin-left: auto;
    margin-right: auto;
    flex: 1;
  }
  .selected-img-tv {
    flex: 1.3;
    box-shadow: 4px 4px 4px grey;
  }
  #main-row-tv {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .select-button-tv {
    padding: 0px;
  }
  #main-col-tv {
    margin-left: auto;
    margin-right: auto;
    max-width: 95vw;
    flex: 0 0 100%;
  }
  #main-img-tv {
    //width: 100%;
    max-height: 45vh;
    display: block;
    margin: auto;
    border-radius: 5px;
  }
  #second-col-tv {
    padding-top: 10px;
    padding: bottom 10px;
  }
  #thumbnails-row-tv {}
  #answer-row-tv {
    margin-top: 1vh;
    flex-direction: row;
  }
  .button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2rem;
  }
  .photos-col-tv {
    width: 30vw;
    border-radius: 5px;
  }
  .answer-button-col {
    width: 30vw;
  }
  .answer-button-tv {
    min-height: 44px;
    max-height: 60px;
  }
  ion-col {
    width: 100%;
  }
}

// @media screen and (min-width: 320px) {
//   .view-wrapper {
//     justify-content: center;
//     //margin-top: 2vh;
//     max-width: 100vw;
//     max-height: 100vh;
//   }
//   .photos-col {
//     //max-width: 25vw;
//   }
//   #main-img {
//     // max-width: 300px;
//     margin-left: auto;
//     margin-right: auto;
//     display: block;
//   }
//   img.thumbnail {
//     margin-left: auto;
//     margin-right: auto;
//   }
//   .photos-col {
//     flex: 1;
//   }
//   .inner-pic-row {
//     flex-direction: column;
//     max-width: 80vw;
//   }
//   #test-row {
//     flex-direction: column;
//   }
//   #thumbnails-row {
//     flex-direction: row;
//   }
//   .button-row {
//     flex-direction: column;
//   }
// }
// @media screen and (min-width: 630px) and (max-width: 1023) {
//   #test-row {
//     flex-direction: column;
//   }
//   #main-row {
//     flex-direction: column;
//   }
//   #thumbnails-row {
//     flex-direction: row;
//   }
// }
// @media screen and (min-width: 1024px) {
//   #test-row {
//     flex-direction: column;
//   }
//   #thumbnails-row {
//     flex-direction: row;
//   }
//   .view-wrapper {
//     justify-content: center;
//     //margin-top: 2vh;
//     max-width: 100vw;
//     max-height: 100vh;
//   }
// }
//   @media screen and (min-width: 1024px) {
//     #main-col {
//       flex: 7;
//       flex-grow: 2;
//     }
//     #right-col {
//       flex: 1;
//     }
//     .view-wrapper {
//       justify-content: start;
//       margin-top: 5vh;
//       max-width: 900px;
//     }
//     #main-img {
//       max-width: 500px;
//       margin-left: auto;
//       margin-right: auto;
//       display: block;
//     }
//     #test-row {
//       flex-direction: row;
//     }
//     #thumbnails-row {
//       flex-direction: column;
//     }
//     #answer-row {
//       margin-top: 5vh;
//       flex-direction: row;
//       border: 1px solid #4c4c4c;
//       border-radius: 5px;
//     }
//     .thumbnail {
//       max-width: 10vw;
//     }
//     .inner-pic-row {
//       flex-direction: row;
//     }
//     #button-row {
//       flex-direction: column;
//     }
//   }
