<ion-header>
  <ion-navbar>
    <ion-title align="center">VR-Toby</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logoutConfirm()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <ion-card class="card" *ngFor="let test of tests" (click)="takeTest(test)">-->
  <!--   <ion-card-header align="center">-->
  <!--    {{ test.title }}-->
  <!--  </ion-card-header>-->
  <!--  <ion-card-content align="center">-->
  <!--    {{ test.description }}-->
  <!--  </ion-card-content>-->
  <!--</ion-card>-->
  <p align="center" class="whitecard niceborder"> VR-Toby is a deep machine learning system. Select a quiz and identify where the hearts displayed are enlarged or not. Your answers will help the AI learn.
</p >
  
  <ion-list>
    <ion-item *ngFor="let test of tests; let $index = index;" (click)="takeTest(test)" no-lines>
      <ion-thumbnail>
        <img src="assets/img/homeIcon-1.png" [navPush]="pushPage">
      </ion-thumbnail>
      <h2>Level {{$index + 1}}</h2>
      <h3>{{test.title}}</h3>
      <h3>{{8}}/{{10}}</h3>
    </ion-item>
    
    <ion-item *ngFor="let test of tests; let $index = index;" (click)="takeTest(test)" no-lines>
      <ion-thumbnail>
        <img src="assets/img/homeIcon-2.png" [navPush]="pushPage">
      </ion-thumbnail>
      <h2>Level {{$index + 2}}</h2>
      <h3>{{test.title}}</h3>
      <h3>{{8}}/{{10}}</h3>
    </ion-item>
  </ion-list>
 
</ion-content>
