<ion-header id="questions-header">

    <ion-navbar>
        <ion-title align="center"> Review Questions </ion-title>
        <ion-buttons end>

        </ion-buttons>
    </ion-navbar>
    <h4 *ngIf="purpose == quiz" align="center"> Scored {{ totalCorrect / totalQuestions * 100}}% </h4>
</ion-header>


<ion-content padding>
    <p align="center" margin-left="20px" margin-right="20px">Click on a case below to review the case again.</p>
    <ion-card>
        <ion-card-content>
            <button ion-item detail-push *ngFor="let question of questions; let i = index" (click)="reviewQuestion(question, i)">
            <h3 align="center"> Question  {{ i + 1 }} {{ question.answer }}</h3>
            <p id="chose" align="center">You chose</p>
            <p align = center>{{question.answerGiven}}</p>
            </button>
        </ion-card-content>
    </ion-card>
</ion-content>
