ion-app {
    max-width: 900px;
    margin: auto;
    display: block;
    position: relative;
}

// img {
//     border-radius: 7px;
// }
ion-content {
    background-color: $background-color;
    margin: auto;
}

.back-button.show-back-button {
    display: inline-block;
    font-size: 1rem;
}
